[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
requests = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
django-filter = "*"
python-dotenv = "*"
model-bakery = "*"
pymysql = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
