[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
requests = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
django-filter = "*"
python-dotenv = "*"
model-bakery = "*"
pymysql = "*"
django-debug-toolbar = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
django-storages = "*"
django-extensions = "*"
ipython = "*"
cryptography = "*"
gunicorn = "*"
boto3 = "*"
celery = "*"
flower = "*"
redis = "*"
channels = "*"
pytest-asyncio = "*"
daphne = "*"
asgiref = "*"
channels-redis = "*"
uvicorn = {extras = ["standard"], version = "*"}
sentry-sdk = {extras = ["django"], version = "*"}

[dev-packages]
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
